*.exe
doc
doc/*
docs.json
*.log
*.def 
__dummy.html
*.o
*.obj
 
#Dllki	
	*.dll
	*.lib

#Sublime
	*.sublime-workspace

#Dub
	.dub/
	#tylko to co juz dodane reszty jsonow nie chce
	*.json
	
#VisualStudio
	.vs
	*.sln
	*.visualdproj

		# Build results
		[Dd]ebug/
		[Dd]ebugPublic/
		[Rr]elease/
		[Rr]eleases/
		x64/
		x86/
		build/
		bld/
		[Bb]in/
		[Oo]bj/



